.Output {
  &.title {
    font-size: 6em;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: -3px;
    flex: 1;
  }
  &.info {
    padding: 0.5em 0em;
    font-family: Courier, monospace;
    font-size: 1.3em;
  }
}
