
.container .buttons{
  display: flex;
  align-content: stretch;
  margin: 1em -0.5rem;
}

.container .buttons .Button{
  flex: 1;
  padding: 1.5em 0.5em;
  margin: 0em 0.5rem;
  border: 1px solid #4aaeae;
  color: #4aaeae;
  background: #fff;
}

.container .buttons .Button.active{
  color: #fff;
  background: #4aaeae;
}
